html, body {

	position: absolute;
	display: block;
	background: white;
	width: 100%;
	min-height: 100%;
	margin: 0;
	padding: 0;
	cursor: default;
	font-family: arial;
	color: #222222;
	overflow-x: hidden;
	overflow-y: auto;
	font-size: 14px;

}


a {

	color: blue;
	text-decoration: underline;
	cursor: pointer;

}

.fl {

	position: relative;
	display: flow-root;

}

.fll {

	float: left;

}

.flr {

	float: right;

}

.abs {

	position: absolute;
	display: block;

}

.in {

	position: relative;
	display: block;

}

.inl {

	position: relative;
	display: inline-table;

}

.fix {

	position: fixed;
	display: block;

}

.in-outline {
	outline: none !important;
	border: none;
}

.center {

	transform: translate(-50%,-50%);
	top: 50%;
	left: 50%;
	width: 100%;
	text-align: center;

}

.w-fit {
	width: fit-content;
}

.w-fill {
	width: -webkit-fill-available;
}

h1, h2 {

	display: none;

}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
